<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2><%=locals.username%></h2>

<script>
    async function a(){
       const r=  await fetch("http://localhost:3000/event/616c56e506e4b4fdcf49caa6/invitations/push",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                to:"616c4de885062ba402f25e71"
                /* title:"12aconcha de tu hermana nu se231212322 chango123",
                information:"haha 123121212312312312123123123",
                invitations:[],
                location:{
                    forward:"Tucumán 3144, Nueva Roma, Casilda, Argentina" ,
                    geo:[-33.05374, -61.17409]
                },
                startsAt:new Date(),
                endsAt:new Date() */
            })
        })

        console.log(JSON.parse(await r.text()));
        r.headers.forEach(e=>{
            console.log(e)
        })
        console.log();
    }

    a()
</script>
</body>
</html>